*{padding:0; margin:0; box-sizing: border-box; font-family:sans-serif;overflow-x: hidden;}
header{
	width: 100vw;
	min-height: 100vh;
	background: #34495e;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}
@font-face {
	font-family: "Dongle-light";
	src: url("Dongle/Dongle-Light.ttf");
}

@font-face {
	font-family: "Dongle-regular";
	src: url("Dongle/Dongle-Regular.ttf");
}

@font-face {
	font-family: "Dongle-bold";
	src: url("Dongle/Dongle-Bold.ttf");
}

#a{
	display: flex;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	align-items: center;
}

.logo img {
	max-width: 10%;
}

#log {
	width: 46vw;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	justify-content: space-between;
	align-items: center;
	font-family: "Dongle-bold";
	font-size: 3.6rem;
	color: #333;
	transition: all ease 0.3s;
}

.nav-menu ul {
	display: flex;
}

.nav-menu li {
	list-style: none;
	margin-right: 20px;
}

.nav-menu li:last-child {
	margin-right: 0;
}

.nav-menu a {
	text-decoration: none;
	font-family: "Dongle-bold";
	font-size: 2.0rem;
	color: #333;
	transition: all ease 0.3s;
	gap: 18px;
}

.nav-menu a:hover {
	color: #ff7f50;
}

.container{
	background: white;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
}
form{
	padding: 1rem;
}

h3{
	margin-top: 1rem;
	color:#2c3e50;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

#zip{
	display: flex;
	margin-top: 0.5rem;
}
#zip select{
	padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}
input[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}

input[type="submit"]:hover{
	background: #2c3e50;
}


@media only screen and (max-width: 770px){
	.container{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}

